<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>{% block title %}Glanceable GVB Amsterdam{% endblock %}</title>

	<meta name="viewport" content="width=1024">

	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
	
	<script src="{{ STATIC_URL }}js/jquery-1.6.4.min.js"></script>

    <style type="text/css" media="screen">
        FOOTER {
            font-size: 12px;
        }
    </style>

    {% block extra-head %}{% endblock %}

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-15801508-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>

<div id="container">
	<header>

	</header>
	<div id="main" role="main">
        {% block content %}
            
        {% endblock %}
	</div>
	<footer>
	    <a href="/pick/?halteids={{ halteids|join:"," }}">kies haltes</a> — <a href="http://monsterswell.com">Monster Swell</a>
	</footer>
</div> <!--! end of #container -->

</body>
</html>
