{% extends "govi/base.html" %}

{% block extra-head %}
    <style type="text/css" media="screen">  
    
        BODY {
            font-size: 36px;
            font-family: monospace;
        }
        
        #state {
            margin-bottom: 4em;
            width: 100%;
        }
        .destination {
            padding-right: 1em;
            text-align: right;
        }
    </style>

    <script type="text/javascript" charset="utf-8">
        var halteids = [];
        
        {% for halteid in halteids %}
            halteids.push("{{ halteid }}");
        {% endfor %}
        
        var haltes = [];
        
        function refresh() {
            // TODO rewrite using backbone
            haltes = [];
            
            for (var halteIdIndex in halteids) {
                var halteid = halteids[halteIdIndex];
                $.getJSON('/dris/' + halteid + '/', function (data) {
                    haltes.push((data));
                    haltes.sort(function(a, b) { 
                        if (a['minutes'][0] < b['minutes'][0]) return -1;
                        if (a['minutes'][0] == b['minutes'][0]) return 0;
                        if (a['minutes'][0] > b['minutes'][0]) return 1;
                    });
                    
                    render();
                });
            }
        }
        
        function render() {
            $('#state').empty();
            
            for (var halteIndex in haltes) {
                var halte = haltes[halteIndex];
                
                $('#state').append('<tr><td class="destination">' + halte['destination'] + '</td><td class="minutes">' + halte['minutes'].join(' ') + '</td></tr>');
            }
        }
        
        $(document).ready(function() {
            refresh();
            setInterval("refresh();", 45000);
        });
    </script>
{% endblock %}


{% block content %}
    
    <div id="display">
        <table id="state"></table>
    </div>
    
    
{% endblock %}