{% extends "govi/base.html" %}

{% block title %}Halte picker{% endblock %}

{% block extra-head %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('.haltecheck').click(function() {
                // Get all checked boxes
                var ids = [];
                $('.haltecheck:checked').each(function(index) {
                    ids.push($(this).attr('id'));
                });
                
                $('#displaylink').attr('href', '/?halteids=' + ids.join(','));
            });
        });
    </script>
{% endblock %}

{% block content %}
    <p>Kies je haltes. Volg de links om zeker te zijn dat het de juiste lijn betreft (gebruik de zoekfunctie van je browser).</p>
    
    <p>Volg daarna <a id="displaylink" href="/?halteids=">deze link</a> voor je dynamische haltestaat en sla die ergens op.</p>

    <ol style="list-style-type: none;">
        {% for halte in haltes %}
            <li class="halte"><input type="checkbox" class="haltecheck" id="{{ halte.id }}" name="radio_{{ halte.id }}"><a href="http://cache.govi.openov.nl/kv55/{{ halte.id }}">{{ halte.name }}</a></li>
        {% endfor %}
    </ol>
{% endblock %}